body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ff9d52;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
}

h2 {
    color: #194755;
}

ul, ol {
    list-style: none;
}

button {
    background-color: #f0c259;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

footer {
    background-color: #00a08f;
    color: #fff;
    text-align: center;
    padding: 10px;
}