body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

:root {
  --main-color: rgb(255, 157, 82);
  --secondary-color-1: rgb(249, 102, 70);
  --secondary-color-2: rgb(240, 194, 89);
  --secondary-color-3: rgb(0, 160, 143);
  --text-color: rgb(25, 71, 85);
}

body {
  color: var(--text-color);
  background-color: var(--main-color);
}

button {
  background-color: var(--secondary-color-1);
  color: var(--text-color);
}

button.secondary {
  background-color: var(--secondary-color-2);
}

button.tertiary {
  background-color: var(--secondary-color-3);
}

